<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109432224894-7f47mui759b5eilhf4mq30m39tk3cvvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109432224894-7f47mui759b5eilhf4mq30m39tk3cvvd</string>
	<key>API_KEY</key>
	<string>AIzaSyCA_nP8Unma_BTp_Qids-Px2p0VEF_qtSk</string>
	<key>GCM_SENDER_ID</key>
	<string>109432224894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delugetech.iplayya</string>
	<key>PROJECT_ID</key>
	<string>iplayya</string>
	<key>STORAGE_BUCKET</key>
	<string>iplayya.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109432224894:ios:14e49ef9d9b581c7f0ec2f</string>
</dict>
</plist>